img{
    /* width: 50%; */
    /* height: 50%;
    width: 60%;
    margin-left: 18%; */
    max-width: 100%;
    max-height: 100%;
    /* display: block; remove extra space below image */
}
ol li{
    list-style-type: upper-roman;
}
.imgAyuda{
    width: 60px;
    height: 60px;

}
.modal-body{
    display: inline;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
.modal-holder{
    animation-name: example;
    animation-duration: 0.4s;

  }
  
  @keyframes example {
    0%   {transform: scale(0.5)}
  /* 75%  {transform: scale(1.1)} */
  100% {transform: scale(1)}
  }