
<ngb-carousel *ngIf="mostrarCarousel" [interval]="3000" >
    <ng-template ngbSlide style="color: black;" >
      <div class="">
        <img [src]="images[0]" alt="Imagen 1" style="height: 50vh">
      </div>
      <div class="carousel-caption">
        <h3>JUEGOS</h3>
        <p>Didácticos para toda la familia </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Imagen 2" style="height: 50vh">
      </div>
      <div class="carousel-caption" style="color: black;">
        <br>
        <h3>LISTADO RESULTADOS</h3>
        <p>Los listados de los resultados con ordenamiento y busqueda</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-block" >
        <img [src]="images[2]" alt="Imagen 3" style="height: 50vh" >
      </div>
      <div class="carousel-caption" style="color: black;">
        <h3>CONFIGURACION</h3>
        <p>Ajustes de la aplicacion y los métodos de autentificación</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-block" style="color: black;">
        <img [src]="images[3]" alt="Imagen 4" style="height: 50vh">
      </div>
      <div class="carousel-caption" >
        <h3>LISTADO JUGADORES</h3>
        <p>Listado de todos los jugadores</p>
      </div>
    </ng-template>
  </ngb-carousel>