
<!--input type="button" (click)="llamaService()" class="btn btn-info" value="Pulsame" > 
<input type="button" (click)="llamaServicePromesa()" class="btn btn-info" value="Pulsame Promesa" --> 

<!-- Centered Pills -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">    
    <a class="active" style="font-size: 4rem;"routerLink="/Principal"><i class="fa fa-home fa-50px"></i></a>
    <ul class="nav nav-pills nav-justified">
      <!-- <li><a (click)="llamaService()" href="#">Servicio</a></li>
      <li><a (click)="llamaServicePromesa()" href="#">Serv Promesa</a></li>
      <li><a (click)="llamaServicePromesa()" href="#">Serv observable</a></li> -->
    </ul>
  </nav>
<app-listado-de-resultados [listado]="listadoParaCompartir"> </app-listado-de-resultados>

