<div class="background">
    <div class="container">
    <div class="row">
        <h2>Contrincante</h2>
        <h2 class="usuario">Usted</h2>
    </div>
    <div class="icons">
        <i class="fa fa-heart fa-lg icon" aria-hidden="true">: {{jugador.vidas}}</i><i class="fa fa-gamepad fa-lg" aria-hidden="true">: {{jugador.puntos}}</i>
    </div>

    <hr>
    <div class="row mostrar">
        <div class="contrincante">
            <img [@animacion]="estadoAnimJugada" [src]="pathContrincate">
        </div>
        <div class="usuario">
            <img [@animacion]="estadoAnimJugada" [src]="pathUsuario">
        </div>
    </div>
    <div class="jugada">
        <p>Seleccione su jugada:</p>
        <div class="jugadaInside">
            <div>
                <button  class="btnJ" id="piedra" name="ppt" (click)="seleccionJugadaJugador('piedra')" value="piedra"><img [src]="pathsPPT[0]" class="rotate90"></button> 
                <button class="btnJ" id="papel" name="ppt" (click)="seleccionJugadaJugador('papel')"value="papel"><img [src]="pathsPPT[1]" class="rotate90"></button>
                <button class="btnJ" id="tijera" name="ppt" (click)="seleccionJugadaJugador('tijera')" value="tijera"><img [src]="pathsPPT[2]" class="rotate90">  </button>  
            </div>
        </div>
    </div>
    <button class="btn btn-success" *ngIf="!juegoTerminado" id="btnComenzar" (click)="comenzar()">
        Comenzar
    </button>
    <button class="btn btn-warning" *ngIf="juegoTerminado" id="btnComenzar" (click)="reiniciar()">
        Volver a jugar
    </button>
</div>
<div id="snackbar">{{Mensajes}}</div>
</div>
    