<div class="container py-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="./assets/imagenes/cerebro.jpg" class="card-img-top img-fluid card-img-custom" alt="Velocidad y agilidad aritmética">
        <div class="card-body">
          <h5 class="card-title">Velocidad y agilidad aritmética</h5>
          <p class="card-text">Un juego donde pondrás a prueba tu agilidad con los números.</p>
          <button class="btn btn-primary w-100" (click)="Juego('Agilidad')">Jugar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/imagenes/ppt.jpg" class="card-img-top img-fluid card-img-custom" alt="Piedra Papel o Tijeras">
        <div class="card-body">
          <h5 class="card-title">Piedra Papel o Tijeras</h5>
          <p class="card-text">Desafía a la máquina con este juego milenario.</p>
          <span></span>
          <button class="btn btn-primary w-100" (click)="Juego('PPT')">Jugar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/imagenes/adivina.png" class="card-img-top img-fluid card-img-custom" alt="Adivina el número">
        <div class="card-body">
          <h5 class="card-title">Adivina el número</h5>
          <p class="card-text">¿Serás capaz de vencer a la máquina adivinando el número secreto?</p>
          <button class="btn btn-primary w-100" (click)="Juego('Adivina')">Jugar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/imagenes/questions-answers.jpg" class="card-img-top img-fluid card-img-custom" alt="Preguntas">
        <div class="card-body">
          <h5 class="card-title">Preguntas</h5>
          <p class="card-text">Un interesante juego de preguntas y respuestas donde ganar tiene su premio.</p>
          <button class="btn btn-primary w-100" (click)="Juego('PYR')">Jugar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/imagenes/tateti-de-tela.jpg" class="card-img-top img-fluid card-img-custom" alt="Ta Te Ti">
        <div class="card-body">
          <h5 class="card-title">Ta Te Ti</h5>
          <p class="card-text">Juega con la familia para ver quién gana al clásico Ta Te Ti.</p>
          <button class="btn btn-primary w-100" (click)="Juego('Tateti')">Jugar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/imagenes/anagrama.jpg" class="card-img-top img-fluid card-img-custom" alt="Anagrama">
        <div class="card-body">
          <h5 class="card-title">Anagrama</h5>
          <p class="card-text">¡Completa las palabras del anagrama!</p>
          <button class="btn btn-primary w-100" (click)="Juego('Anagrama')">Jugar</button>
        </div>
      </div>
    </div>
  </div>
</div>