<div class="background">
  <div class="titulo" fxLayout="column" fxLayoutAlign="center center">
    <h4>{{ nuevoJuego.nombre | uppercase }} !</h4>
    <button class="btn btn-secondary" (click)="mostrarAyuda()" color="primary">
      Reglas
    </button>
  </div>

  <div class="contenido" fxLayout="column" fxLayoutAlign="space-around center">
    <!-- Estadísticas del jugador -->
    <div class="header">
      <div class="stat">
        <i class="bi bi-heart-fill"></i> {{ jugador.vidas }}
      </div>
      <div class="stat">

        <i class="bi bi-star"></i> {{ jugador.puntos }}
      </div>
    </div>

    <!-- Tablero del juego -->
    <div class="tablero" *ngIf="!comenzoJuego">
      <div 
        class="celda" 
        *ngFor="let casilla of tablero; let i = index" 
        (click)="tableroBloqueado ? mostrarMensajeInicial() : llenarCasillero(i, i)"
      >
        <p>{{ casilla.ficha }}</p>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <!-- Selección de ficha -->
      <div style="margin: 10px" [hidden]="ocultarSeleccionFichas">
        <label><strong>Seleccione Ficha:</strong></label><br />
        <mat-radio-group [(ngModel)]="nuevoJuego.ficha">
          <mat-radio-button name="fieldName3" value="x"><strong>X</strong></mat-radio-button>
          <mat-radio-button name="fieldName1" value="o"><strong>O</strong></mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Botones de control -->
      <button 
        *ngIf="!comenzoJuego && !juegoTerminado && jugador.vidas > 0" 
        class="btn btn-success btnComenzar" 
        (click)="comenzar()"
      >
        Comenzar
      </button>
      <button 
        *ngIf="jugador.vidas == 0 || juegoTerminado" 
        class="btn btn-warning btnComenzar" 
        (click)="jugarOtraVez()"
      >
        Jugar Otra vez
      </button>
    </div>
  </div>
</div>

<!-- <div
id="myToast"
class="toast align-items-center border-0 z-index: 11"
role="alert"
aria-live="assertive"
aria-atomic="true"
[ngClass]="toastType"
>
<div class="d-flex">
  <div class="toast-body">
    {{ toastMessage }}
  </div>
  <button
    type="button"
    class="btn-close btn-close-white me-2 m-auto"
    data-bs-dismiss="toast"
    aria-label="Close"
  ></button>
</div>
</div> -->

<div  class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="myToast"class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
