<div class="background">
  <div class="titulo" fxLayout="column" fxLayoutAlign="center center">
    <h4>{{ nuevoJuego.nombre | uppercase }} !</h4>
    <button class="btn btn-secondary" (click)="mostrarAyuda()" color="primary">
      Reglas
    </button>
  </div>

  <div class="contenido" fxLayout="column" fxLayoutAlign="space-around center">
    <!-- Estadísticas del jugador -->
    <div class="header">
      <div class="stat">
        <i class="bi bi-heart-fill"></i> {{ jugador.vidas }}
      </div>
      <div class="stat">

        <i class="bi bi-star"></i> {{ jugador.puntos }}
      </div>
    </div>

    <!-- Tablero del juego -->
    <div class="tablero" *ngIf="!comenzoJuego">
      <div 
        class="celda" 
        *ngFor="let casilla of tablero; let i = index" 
        (click)="tableroBloqueado ? mostrarMensajeInicial() : llenarCasillero(i, i)"
      >
        <p>{{ casilla.ficha }}</p>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <!-- Selección de ficha -->
      <div style="margin: 10px" [hidden]="ocultarSeleccionFichas">
        <label><strong>Seleccione Ficha:</strong></label><br />
        <mat-radio-group [(ngModel)]="nuevoJuego.ficha">
          <mat-radio-button name="fieldName3" value="x"><strong>X</strong></mat-radio-button>
          <mat-radio-button name="fieldName1" value="o"><strong>O</strong></mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Botones de control -->
      <button 
        *ngIf="!comenzoJuego && !juegoTerminado && jugador.vidas > 0" 
        class="btn btn-success btnComenzar" 
        (click)="comenzar()"
      >
        Comenzar
      </button>
      <button 
        *ngIf="jugador.vidas == 0 || juegoTerminado" 
        class="btn btn-warning btnComenzar" 
        (click)="jugarOtraVez()"
      >
        Jugar Otra vez
      </button>
    </div>
  </div>
</div>

<app-toast></app-toast>