  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="active" style="font-size: 4rem;"routerLink="/Principal"><i class="fa fa-home fa-50px"></i></a>
          <!-- <a class="navbar-brand" routerLink="/Principal">Inicio</a> -->
        </div>
        <!-- <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a routerLink="/Juegos">Menú de Juegos</a></li>
                <li><a data-toggle="tooltip" title="Hooray!" (click)="Juego('Adivina')">Adivina</a></li>
                <li><a  (click)="Juego('Agilidad')">Agilidad</a></li>
                <li><a  (click)="Juego('AdivinaMasListado')">Adivina+listado</a></li>
                <li><a  (click)="Juego('AgilidadaMasListado')">Agilidad+listado</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mis Datos</a></li>
                  <li><a href="/Login"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                </ul>
        </div> -->
      </div>
    </nav>
      
   