  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">    
    <a class="active" style="font-size: 4rem;"routerLink="/Principal"><i class="fa fa-home fa-50px"></i></a>
    <ul class="nav nav-pills nav-justified">
      <li><a (click)="TraerTodos()" href="#">Todos los jugadores</a></li>
      <li><a (click)="TraerGanadores()" href="#">Ganadores</a></li>
      <li><a (click)="TraerPerdedores()" href="#">Perdedores</a></li>
    </ul>
  </nav>




<table class="table table-condensed table-hover table-dark">
  <thead>
    <tr class="table-warning">
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Sexo</th>
      <th>Puntos Acumulados</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado" >
      <td>{{jugador.mail}} </td>
      <td>{{jugador.nombre}} </td> 
      <td>{{jugador.sexo}} </td> 
      <td>{{jugador.puntosTotalesAcum}} </td> 
      
    </tr>
   
  </tbody>
</table>