  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">    
    <!-- <a class="active" style="font-size: 4rem;"routerLink="/Principal"><i class="fa fa-home fa-50px"></i></a> -->
    <ul class="nav nav-pills nav-justified">
      <li><button (click)="TraerTodos()" class="btn btn-light">Todos</button></li>
      <li><button (click)="traerMayorPuntaje()" class="btn btn-light">Mayor Puntaje</button></li>
      <li><button (click)="traerMenorPuntaje()" class="btn btn-light">Menor Puntaje</button></li>
    </ul>
  </nav>



<table class="table table-condensed table-hover table-dark">
  <thead>
    <tr class="table-warning">
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Sexo</th>
      <th>Puntos Acumulados</th>
      <th>Fecha Última Puntuación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado" >
      <td>{{jugador.mail}} </td>
      <td>{{jugador.nombre}} </td> 
      <td>{{jugador.sexo}} </td> 
      <td>{{jugador.puntosTotalesAcum}} </td> 
      <td>{{jugador.fechaActualizacion}} </td> 
    </tr>
   
  </tbody>
</table>