<div class="modal-holder" [ngStyle]="{'background-image': 'url('+ imageBackground+')'}">
    <div>
        <img [src]="imagenResultado">
        <img *ngIf="imgAyuda"   class="imgAyuda" [src]="imgAyuda">
      <div *ngIf="reglas">
        <ol class="list-group">
          <li class="list-group-item list-group-item-action active">
            {{listaReglas[0]}}
          </li>
          <li class="list-group-item" *ngFor="let regla of listaReglas">
            {{regla == listaReglas[0] ? '' : regla}}
          </li>
        </ol>
      </div>
        <p><strong>{{respCorrecta}}</strong></p>  
        <h3>{{mensaje}}</h3>
        
    </div>    
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
  </div>
</div>