
<div class="principal">
  <app-menu-nav [ocultarOpciones]="seleccionoDeslogue"></app-menu-nav>
  <app-cabecera (logOutUsuario)="tomarDeslogueo($event)"
  [nombreDeUsuarioLogged]="usuarioParaCabecera"
  [ocultarLogOut]="ocultarLogOutPrincipal"></app-cabecera>
  <div *ngIf="!registro">
    <app-login *ngIf="!isLogged"
    (onUsuarioLogueado)= "tomarLogueo($event)" 
    (onRegistrarUsuario)="tomarParaRegistro($event)"></app-login>
  </div>
  <div *ngIf="registro">
    <app-registro
    (onRegistroCompletado)="tomarRegistro($event)"></app-registro>
  </div>
  <router-outlet></router-outlet>
</div>
