<div class="juego-container">
  <!-- Sección superior: Vidas, tiempo y puntos -->
  <div class="header">
    <div class="stat">
      <i class="bi bi-heart-fill"></i> Vidas: {{jugador.vidas}}
    </div>
    <div class="stat">
      <i class="bi bi-clock"></i> Tiempo: {{Tiempo}}
    </div>
    <div class="stat">
      <i class="bi bi-star"></i> Puntos: {{jugador.puntos}}
    </div>
  </div>

  <!-- Sección central: Problema a resolver -->
  <div class="problema-container">
    <label class="numero">{{nuevoJuego.primerNumero}}</label>
    <label class="numero">{{nuevoJuego.operador}}</label>
    <label class="numero">{{nuevoJuego.segundoNumero}}</label>
  </div>

  <!-- Sección de respuestas -->
  <div class="respuestas-container">
    <h2>Respuestas:</h2>
    <div class="respuestas">
      <button
        *ngFor="let numero of listaNumeros"
        class="btn respuesta-btn"
        [disabled]="deshabilitar"
        (click)="evaluarRespuesta($event)"
        [value]="numero"
      >
        {{numero}}
      </button>
    </div>
  </div>

  <!-- Mensajes y acciones -->
  <div class="acciones">
    <h2 class="mensaje">{{mensaje}}</h2>
    <div class="botones-acciones">
      <button
        *ngIf="!ocultarVerificar && !nuevoJuego.juegoTerminado"
        class="btn btn-primary"
        disabled
      >
        <i class="fa fa-spinner fa-spin"></i> Esperando Respuesta
      </button>
      <button
        *ngIf="ocultarVerificar"
        class="btn btn-success"
        (click)="NuevoJuego()"
      >
        Nuevo
      </button>
      <button
        *ngIf="nuevoJuego.juegoTerminado"
        class="btn btn-warning"
        (click)="Reiniciar()"
      >
        Jugar Otra Vez
      </button>
    </div>
  </div>
</div>
<div
  id="myToast"
  class="toast align-items-center border-0"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  [ngClass]="toastType"
>
  <div class="d-flex">
    <div class="toast-body">
      {{ toastMessage }}
    </div>
    <button
      type="button"
      class="btn-close btn-close-white me-2 m-auto"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
</div>