<div class="container" >  
    <div class="row" >
    <div class="col-12 col-sm-8 col-lg-12" >
      <ul class="list-group" >
        <li class="list-group-item d-flex justify-content-between align-items-center" >
          <h2>Velocidad y agilidad aritmética</h2>
          <div class="image-parent">
              <img src="./assets/imagenes/cerebro.jpg" class="img-fluid" alt="quixote">
              <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" >
          <h2>Piedra Papel o Tijeras</h2>
          <div class="image-parent">
              <img src="./assets/imagenes/ppt.jpg" class="img-fluid" alt="lay">
              <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
            </div>
            </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" >  
          <h2>Adivina el número secreto</h2>        
          <div class="image-parent">
              <img src="./assets/imagenes/adivina.png" class="img-fluid" alt="things">
              <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
          </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center" >  
            <h2>Poderoso Conocimiento</h2>        
            <div class="image-parent">
                <img src="./assets/imagenes/questions-answers.jpg" class="img-fluid" alt="things">
                <p>           <button class="button"  (click)="Juego('PYR')">Jugar</button></p>
            </div>
            </li>
      </ul>
    </div>
  </div>
  </div>