<div class="container" >  
    <div class="row" >
    <div class="col-12 col-sm-8 col-lg-12" >
      <ul class="list-group" >
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Velocidad y agilidad aritmética</strong>
          <div class="image-parent">
              <img src="./assets/imagenes/cerebro.jpg" class="img-fluid" alt="quixote">
              <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Piedra Papel o Tijeras</strong>
          <div class="image-parent">
              <img src="./assets/imagenes/ppt.jpg" class="img-fluid" alt="lay">
              <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
            </div>
            </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">  
          <strong>Adivina el número secreto</strong>        
          <div class="image-parent">
              <img src="./assets/imagenes/adivina.png" class="img-fluid" alt="things">
              <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
          </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">  
            <strong>Poderoso Conocimiento</strong>        
            <div class="image-parent">
                <img src="./assets/imagenes/questions-answers.jpg" class="img-fluid" alt="things">
                <p>           <button class="button"  (click)="Juego('PYR')">Jugar</button></p>
            </div>
            </li>
      </ul>
    </div>
  </div>
  </div>