<mat-card class="background" fxLayout="column" fxLayoutAlign="center center" style="margin:25px" >

  <!-- <mat-card-header style="margin:10px">
    <mat-card-title>Registro Usuarios</mat-card-title>
  </mat-card-header>  -->
  <mat-card-content class="col-sm-9 col-md-7 col-lg-5 mx-auto matcontent">
    <mat-card-title>Registro Usuarios</mat-card-title>
  <mat-form-field appearance="outline" style="margin:10px">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Ingrese Nombre" [(ngModel)]="usuarioNuevo.nombre" name="fieldName1">
    <mat-icon matSuffix>perm_identity</mat-icon>
    <mat-hint>Ingrese Nombre</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="margin:10px">
    <mat-label>Email</mat-label>
    <input matInput placeholder="mail@ejemplo.com" [(ngModel)]="usuarioNuevo.mail"  name="fieldName1" required>
    <mat-error *ngIf="email.invalid">Ingrese un mail valido</mat-error>
  </mat-form-field>
  <br>
  <div style="margin:10px">
    <label>Sexo: </label>
    <mat-radio-group [(ngModel)]="usuarioNuevo.sexo">
      <mat-radio-button name="fieldName3" value="masculino">Masculino</mat-radio-button>
      <mat-radio-button name="fieldName1" value="femenino">Fenenino</mat-radio-button>
    </mat-radio-group>
  </div>
  <div style="margin:10px">
    <mat-form-field appearance="fill">
      <mat-label>Clave</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuarioNuevo.clave" name="fieldName1">
       <button mat-icon-button matSuffix (click)="hide = !hide" name="fieldName2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div style="margin:10px">
     <mat-form-field appearance="fill">
      <mat-label>Confirme Su Clave</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="confirmacionClave" name="fieldName2">
      <button mat-icon-button matSuffix (click)="hide = !hide2" name="fieldName1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field> 
  </div>
  <div style="margin:10px">
    <button mat-button (click)="cancelar()" color="warn">Cancelar</button>
    <button mat-button (click)="registrar()" color="accent">Registrar</button>
  </div>
</mat-card-content>
</mat-card>