

/* Set a style for all buttons */
span{
    margin: 5px;
}
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {float:left;width:50%}

/* Add padding to container elements */
.container {
    padding: 16px;
}
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
h2{
    text-align: center;
    color: #007bff;
}
/* Change styles for cancel button and signup button on extra small screens */

.registro{
    background-color: lightgrey;
    width: 50%;
    border: 1px solid blue;
    box-sizing: border-box;
    padding: 50px;
    margin-top: 10px;
}