<div class="registro mx-auto">

  <h2>Registro usuario</h2>
  <hr>
  <div class="form">       
    <div class="form-group mb-2">
      <i class="fa fa-user"></i>
      <input type="text" placeholder="Ingrese nombre" [(ngModel)]="usuarioNuevo.nombre" name="psw-repeat" class="form-control" required>
    </div> 
      
      <div class="form-group">
        <i class="fa fa-user"></i>
        <input type="text" placeholder="Ingrese su mail" [(ngModel)]="usuarioNuevo.mail"  name="email" class="form-control" required>       
      </div>

      <div class="form-check form-check-inline mb-2">
        <span>Sexo:</span><br>
        <input class="form-check-input" [value]="'Masculino'" type="radio" [(ngModel)]="usuarioNuevo.sexo" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" [value]="'Femenino'" type="radio" [(ngModel)]="usuarioNuevo.sexo" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Femenino</label>
      </div>
      <br>

      <i class="fa fa-lock"></i>
      <input type="password" class="clave" placeholder="Clave" [(ngModel)]="usuarioNuevo.clave" name="psw" class="form-control"  required>
      
      <i class="fa fa-lock"></i>
      <input type="password" class="clave" placeholder="Confirmar Clave" [(ngModel)]="confirmacionClave" name="psw-repeat" class="form-control" required>
      
      <div class="">
        <button type="button" class="btn btn-danger" routerLink="/Login" routerLinkActive="router-link-active" >Cancelar</button>
        <button type="button"  (click)="registrar()" class="btn btn-primary">Registrarme</button>
      </div>
    </div>
</div>
