<div class="registro col-sm-9 col-md-7 col-lg-5 mx-auto">

  <h2>Registro usuario</h2>
  <hr>
  <form class="form" >
    <div class="">       
      
      <i class="fa fa-user"></i>
      <input type="text" placeholder="Ingrese su mail o nombre usuario" name="email" class="form-control" required>       
      
      <i class="fa fa-key"></i>
      <input type="password" placeholder="Clave" name="psw" class="form-control"  required>
      
      <i class="fa fa-key"></i>
      <input type="password" placeholder="Confirmar Clave" name="psw-repeat" class="form-control" required>
      <div class="clearfix">
        <button type="button" class="btn btn-danger" routerLink="/Principal" routerLinkActive="router-link-active" >Cancelar</button>
        <button type="submit"  class="btn btn-primary">Registrarme</button>
      </div>
    </div>
  </form>
</div>
