.background{
    /* background-image: url('/assets/imagenes/tatetibackground.jpg'); */
    /* background-size: 100% 100%; */
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    background-position: top center;
   
    padding-bottom: 250px;
    
}
mat-card-title{
    text-align: center;
    margin-bottom: 20px;
}
.matcontent{
    background: white;
    border-radius: 20px;
  }
.registro{
    background-color: lightgrey;
    width: 50%;
    border: 1px solid blue;
    box-sizing: border-box;
    padding: 50px;
    margin-top: 10px;
}
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }