<div class="background">
    <div class="header">
      <h4 class="titulo">
        {{ nuevoJuego.nombre | uppercase }}!
      </h4>
      <button class="btn btn-primary ayuda-btn" (click)="mostrarAyuda()"> 
        Cómo se Juega
        
      </button>
    </div>
  
    <div class="contenido">
        <div class="header">
      
              <i class="bi bi-heart-fill"></i> Vidas: {{jugador.vidas}}
     
              <i class="bi bi-star"></i> Puntos: {{jugador.puntos}}
 
          </div>
  
      <div class="palabra-usuario">
        <div 
          *ngFor="let letra of nuevoJuego.palabraUsuario" 
          class="celda-respuesta">
          <p class="letra">{{ letra }}</p>
        </div>
      </div>
  
      <div class="palabra-desordenada">
        <div 
          *ngFor="let letra of palabraDesordenada" 
          class="celda" 
          (click)="bloqueoPantalla ? mostrarMensaje() : enviarLetra(letra)">
          <p class="letra">{{ letra }}</p>
        </div>
        <div class="celda-borrar">
          <button 
            [disabled]="bloqueoPantalla" 
            class="btn btn-danger borrar-btn" 
            (click)="borrarUltimaLetra()">
            <i class="bi bi-arrow-left"></i>
          </button>
        </div>
      </div>
  
      <div class="footer">
        <button 
          *ngIf="jugador.vidas == 0 || juegoTerminado" 
          class="btn btn-warning jugar-otra-vez" 
          (click)="jugarOtraVez()">Jugar Otra Vez
        </button>
      </div>
    </div>
  </div>

  <app-toast></app-toast>