h4{
    background-color: black;
    color: white;
    width: 18%;
    border-radius: 10px 10px 10px 10px;
}
i{

    /* margin-left: 25px; */
    padding: 13px;
}
.icons{
    text-align: center;
    border-radius: 15px;
    width: 200px;
    height: 35px;
    background-color: white;
    color: black;
}
form {
    /* border: 10px solid #f1f1f1; */
    padding: 10px;
    color: white;
}
.juego{
    /* width: 80%; */
    height: 80%;
    margin-left: 20%;
}
 
.enemigo{
    width: 50%;
    height: 50%;
    margin-left: 25%;
}
.respuestas {
    /* display: inline; */
    display: flex;
}
button {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
}
.estrella{
    background: url('/assets/imagenes/estrella.png');
    width: 28%;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}



.background{
    background-image:url('/assets/imagenes/galaxy.png');
    background-size: 100% 100%;
    background-position: top center;
    width: 100%;
    height: 100%;
    padding-bottom: 250px;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
   
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.Ganador {
    background-color: #059F2F;
}
#snackbar.Perdedor {
    background-color: #FF0000;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}