<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h4>
    {{nuevoJuego.nombre}}!
  </h4>
 </div>
<h2></h2>
<div class="background">

<form class="juego" name="juego">

   <h3><label [hidden]="!comenzoJuego" >Cual será?:  </label></h3><br>
<div class="respuestas" [hidden]="!comenzoJuego">
  <div *ngFor="let numero of listaNumeros">

    <input (click)="evaluarRespuesta(numero)" class="estrella" type="image" id="image" alt="Login"
       src="/assets/imagenes/estrella.png">{{numero}}
  </div>
</div>
    <h2><button *ngIf="!comenzoJuego" (click)="generarnumero()"  class="btn btn-info btn-lg">Comenzar</button></h2>
    <button *ngIf="jugador.vidas==0 || juegoTerminado" id="btnComenzar" class="btn btn-warning" (click)="jugarOtraVez()">Jugar Otra vez</button>           

    <div [@animacion]="animacionEnemigo" class="enemigo">
      <img [src]="imagenEnemigo">
      <p>{{mensaje}}</p>
    </div>
</form>
<div id="snackbar">{{Mensajes}}</div>
</div>
