<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->


<div name="juego"   class="background" >
  <div class="body" fxLayout="column"  fxLayoutAlign="space-around center">
    <div class="icons">
      <i class="fa fa-heart fa-lg" aria-hidden="true">: {{jugador.vidas}}</i><i class="fa fa-gamepad fa-lg" aria-hidden="true">: {{jugador.puntos}}</i>
  </div>
    <div fxLayout="row" >

      <h1>N°1: </h1><input [(ngModel)]="nuevoJuego.primerNumero" placeholder="primer numero" name="primer numero" type="text" class="form-control" readonly/>
      </div>
      <div fxLayout="row">
        <h1>Opr: </h1><input [(ngModel)]="nuevoJuego.operador" placeholder="ingrese numero" name="operador" type="text" class="form-control"  readonly/>

     </div>
    <div fxLayout="row">
          <h1>N°2:</h1> <input [(ngModel)]="nuevoJuego.segundoNumero" placeholder="ingrese numero" name="segundo numero" type="text" class="form-control"  readonly/>
    </div>
       
</div>
<div >
  <p><h2>Respuestas:</h2>
</div>
<div fxLayout="column">

  <div class="respuestas" fxLayout="row-reverse" fxLayoutAlign="space-around center" >
    <button  *ngFor="let numero of listaNumeros" fxFlex="20" [disabled]="deshabilitar" fxFlex="row"  type="text" (click)="evaluarRespuesta($event)" [value]="numero" class="btn btn-danger form-control" >{{numero}}</button>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <h2 fxFlex="40" class="mensaje">{{mensaje}}</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <h2 [hidden]="!ocultarVerificar"><button (click)="NuevoJuego()"  class="btn btn-success btn-lg nuevo">Nuevo</button></h2>  
      <h2 *ngIf="nuevoJuego.juegoTerminado"><button (click)="Reiniciar()"  class="btn btn-warning btn-lg nuevo">Jugar Otra Vez</button></h2>  
      <h2 [hidden]="ocultarVerificar || nuevoJuego.juegoTerminado"><p><i class="fa fa-spinner fa-spin"></i>Esperando Respuesta</p></h2>
    </div>
  </div>
</div>
</div>