/* ul li{
    list-style: none;
}
ul li input{
    background-color: grey;
    color: white;
    width: 20%;
}
ul li div button{
    width: 10%;
    margin-left: 30px;
}


.comenzar{
    margin-top: 50px;
}*/
.mensaje{
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    width: 200px;
    background-color: salmon;
    border-radius: 20px 20px 20px 20px;
}
div div div input{
    background-color: white;
    text-align: center;
}
div div div h1{
    margin-right: 5em;
}
.nuevo{
    color: black;
}
div div button{
    color: black;
    border: solid 1px black;
}
.body{
    margin-top: 5em;
} 
.background{
    background-image:url('/assets/imagenes/numbers.jpg');
    background-size: 100% 100%;
    background-position: top center;
    width: 100%;
    height: 100%;
    padding-bottom: 250px;
}