<h3 class="titulo">Poderoso Conocimiento</h3>
<div class="container" [ngStyle]="{'background-image': 'url('+ imageBackground+')'}">
    <div class="icon">
        <h3><i class="fa fa-clock-o fa-lg" aria-hidden="true">: {{contadorTiempo}}  </i><i class="fa fa-heart fa-lg" aria-hidden="true">: {{jugador.vidas}}</i> <i class="fa fa-gamepad fa-lg" aria-hidden="true">: {{jugador.puntos}}</i></h3>
    </div>

    <div class="containerQuestion">
        <label [hidden]="!comenzoJuego">{{preguntaSeleccionada.question}}</label><br>
    </div>
    <div class="containerAnwsers">
        <a (click)="abrirCofre()"><img class="imgCofre" [hidden]="cofreOculto" [src]="imagenCofre"></a>
    <div [hidden]="!comenzoJuego">        
            <button [@animacion2]="estadoAnimacion2" id="btnResp" class="btn btn-secondary" (click)="evaluarRespuesta($event)" [value]="respuestasParaMostrar[0]">{{respuestasParaMostrar[0]}}</button><br>
            <button [@animacion3]="estadoAnimacion3" id="btnResp" class="btn btn-secondary" (click)="evaluarRespuesta($event)" [value]="respuestasParaMostrar[1]">{{respuestasParaMostrar[1]}}</button><br>
            <button [@animacion4]="estadoAnimacion4" id="btnResp" class="btn btn-secondary" (click)="evaluarRespuesta($event)" [value]="respuestasParaMostrar[2]">{{respuestasParaMostrar[2]}}</button><br>      
      </div>
      <button *ngIf="!comenzoJuego && !juegoTerminado" id="btnComenzar" class="btn btn-success" (click)="comenzar()">Comenzar</button>           
      <button *ngIf="jugador.vidas==0 || juegoTerminado" id="btnComenzar" class="btn btn-warning" (click)="jugarOtraVez()">Jugar Otra vez</button>           
          
    </div>
</div>
