.juego-container {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #2c2c2c;
    background-image: url('/assets/imagenes/background-playing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }
  .btnJ {
    background-color: lightgray;
  }
  .btnSeleccionado {
    background-color: blue;
    color: white;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .stat {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .problema-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
  }

  .contrincante,
  .usuario {
    text-align: center;
  }
  
  .jugada-img {
    width: 150px;
    height: 150px;
    /* object-fit: cover; */
    border: 3px solid white;
    border-radius: 10px;
  }
  
  .respuestas-container {
    margin-top: 20px;
  }
  
  .jugadas {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .jugada-opcion {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .jugada-opcion:hover { 
    transform: scale(1.1);
    border-color: #ffd700;
  }
  
  /* Estilo cuando el elemento está seleccionado */
  .jugada-opcion.seleccionado {
    border-color: #ffd700; /* El borde se pone dorado al estar seleccionado */
    transform: scale(1.1); /* Puedes aplicar algún efecto al estar seleccionado */
  }
  .acciones {
    margin-top: 30px;
  }
  
  .reglas-btn {

    top: 10px;
    right: 10px;
    z-index: 10;
  }
  