<div class="juego-container">
<div>

    <div style="text-align:center" class="titulo">
       
       </div>

        <!-- Sección superior: Vidas, tiempo y puntos -->
    <div class="header">
        <div class="stat">
          <i class="bi bi-heart-fill"></i> Vidas: {{jugador.vidas}}
        </div>
        <div class="stat timer">
          <i class="bi bi-clock"></i> Tiempo: {{contadorTiempo}}
        </div>
        <div class="stat">
          <i class="bi bi-star"></i> Puntos: {{jugador.puntos}}
        </div>
      </div>

       <!-- Sección central: Problema a resolver -->
    <div class="problema-container">
        <div class="containerQuestion"   >
            <label ><strong>{{preguntaSeleccionada.question}}</strong></label><br>
        </div>
    </div>
    <div class="contenido">

  
    <div class="containerAnwsers" >
        <img class="imgCofre" (click)="abrirCofre()" [hidden]="cofreOculto" [src]="imagenCofre">
    <div [hidden]="!comenzoJuego"  >        
            <button  [@animacion2]="estadoAnimacion2" id="btnResp" class="btn btn-light btnRespuesta" (click)="evaluarRespuesta($event)" [value]="respuestasParaMostrar[0]">{{respuestasParaMostrar[0]}}</button><br>
            <button  [@animacion3]="estadoAnimacion3" id="btnResp" class="btn btn-light btnRespuesta" (click)="evaluarRespuesta($event)" [value]="respuestasParaMostrar[1]">{{respuestasParaMostrar[1]}}</button><br>
            <button  [@animacion4]="estadoAnimacion4" id="btnResp" class="btn btn-light btnRespuesta" (click)="evaluarRespuesta($event)" [value]="respuestasParaMostrar[2]">{{respuestasParaMostrar[2]}}</button><br>      
      </div>     
      <div>

          <button *ngIf="!comenzoJuego && !juegoTerminado && jugador.vidas>0" id="btnComenzar" class="btn btn-success btnComenzar" (click)="comenzar()">Comenzar</button>           
          <button *ngIf="jugador.vidas==0 || juegoTerminado" id="btnComenzar" class="btn btn-warning btnComenzar" (click)="jugarOtraVez()">Jugar Otra vez</button>    
          <!-- <button *ngIf="!comenzoJuego && !juegoTerminado && jugador.vidas>0" style="margin-left: 50px;" (click)="mostrarAyuda()" class="btn btn-secondary">Reglas</button>        -->
     </div>

    </div>
        </div>
        </div>
 </div>

