  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src='assets/imagenes/quiensoy.jpg' alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sebastián Capurro</h5>
        <p class="card-text">Soy egresado de la Universidad Tecnológica Nacional (F.R.A.), como técnico universitario en programación</p>        
      </div>
    </div>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Juego Principal:</h3>
    <p><strong>Poderoso Conocimiento</strong>, es un juego donde se premiará al jugador por responder bien 5 preguntas o al terminar todas las preguntas del juego.
      Esta sala de juegos tiene como objetivo generar un espacio creativo y didacto para las personas, a parte de entretener tiene como segundo objetivo adquirir conocimiento general sobre cuestiones de la vida</p>
  </div>
  
  <!-- Third Container (Grid) -->
  <!-- Third Container (Grid) -->
<div id="donde" class="container-fluid bg-3 text-center">
  <h3>¿Cómo funciona?</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>Utilizando la didáctica para entretener a los usuarios</p>
      <img src="assets/imagenes/quiensoy1.jpg" class="img-fluid custom-image" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamiento sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
      <img src="assets/imagenes/quiensoy2.jpg" class="img-fluid custom-image" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Con un framework potente y de amplio aspecto para desarrollar aplicaciones web</p>
      <img src="assets/imagenes/quiensoy3.png" class="img-fluid custom-image" alt="Image">
    </div>
  </div>
</div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="#">Capurro Sebastian</a></p> 
  </footer>