.background{
    /* background-image: url('/assets/imagenes/tatetibackground.jpg'); */
    /* background-size: 100% 100%; */
    background:linear-gradient(blue,white);
    background-position: top center;
    width: 100%;
    height: 100%;
    padding-bottom: 250px;
    
}
.btnJugarOtraVez{
    margin-top: 30px;
    border-radius: 20x;
    border: solid 1px black;
}
.celdaBorrar{
    float: left;
	border: solid 1px gray;
    font-size: 25pt;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(224, 73, 73);
    padding: 20px;
    margin-top: 55px;
    margin-left: 10px;

}

.respuesta{
    margin-top: 50px;
}
.palabra{
    color: black;
}


.celda {
    /* display: none; */
    float: left;
	border: solid 1px gray;
    
    text-align: center;
    border-radius: 20px;
    background-color: grey;
    padding: 20px;
    margin-top: 55px;
    margin-left: 10px;
    cursor: pointer;
    }
    .celda p{
        text-align: center;
        font-size: 25pt;
        margin-top: 10px;
    }
    .icons{
        text-align: center;
        border-radius: 15px;
        width: 180px;
        height: 35px;
        background-color: white;
        color: black;
        margin-top: 25px;
    }
    i{
        margin-left: 15px;
        margin-top: 10px;
    }
    .titulo{
        margin-left: 5px;
        text-align: center;
        margin-bottom: 2em;
        background-color: black;
        color: white;
        width: 18%;
        border-radius: 10px 10px 10px 10px;
    }
.celdaRespuesta{
    
    float: left;
    background: #fff;
	height: 80px;
	width: 80px;
	border: solid 1px gray;
    font-size: 20pt;
    text-align: center;
    padding: 20px;
    margin-top: 55px;

}

@media screen and (max-width: 992px) {
    .celda {
      /* width: 20px; */
      /* height: 20px; */
      /* float: left; */
	 border: solid 1px gray;
    
    text-align: center;
    border-radius: 20px;
    background-color: grey;
    padding: 25px;
    /* margin-top: 55px; */
    margin-left: 10px;
    cursor: pointer;
    }
    .celda p{
        text-align: center;
        font-size: 15pt;
        /* margin-top: 10px; */
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .celdaRespuesta {
        width: 20px;
        height: 20px;
        color:black;
    }
    
    .celda {
        width: 20px;
        height: 20px;
        /* float: left; */
       border: solid 1px gray;
      
      text-align: center;
      border-radius: 20px;
      background-color: grey;
      padding: 25px;
      /* margin-top: 55px; */
      margin-left: 10px;
      cursor: pointer;
      }
      .celdaBorrar{
        float: left;
        border: solid 1px gray;
        font-size: 20pt;
        text-align: center;
        border-radius: 20px;
        background-color: rgb(224, 73, 73);
        padding: 5px;
        margin-top: 55px;
        margin-left: 5px;
    
    }

    
  }