<h3 class="titulo">Anagrama!</h3>
<div class="background" >
    <div class="contenido" fxLayoutAlign="center center" fxLayout="column">

    <div class="icons" >
       <i class="fa fa-heart fa-lg" aria-hidden="true">: {{jugador.vidas}}</i>  <i class="fa fa-gamepad fa-lg" aria-hidden="true">: {{jugador.puntos}}</i>
    </div>
    <div fxLayout="row" >
        <div  *ngFor="let letra of nuevoJuego.palabraUsuario" class="celdaRespuesta"  >
            <p class="palabra">{{letra}}</p>
        </div>
    </div>
    <div fxLayout="row">
        <div *ngFor="let letra of palabraDesordenada" class="celda" [disabled]="bloqueoPantalla" (click)="enviarLetra(letra)">
            <p>{{letra}}</p>
        </div>
        <div class="celdaBorrar" >
            <button [disabled]="bloqueoPantalla" class="btn btn-danger" (click)="borrarUltimaLetra()"><i class="fa fa-arrow-left"></i></button>
        </div>

    </div>
    <div fxLayout="row">
        <button  class="btnJugarOtraVez" *ngIf="jugador.vidas==0 || juegoTerminado" class="btn btn-warning" (click)="jugarOtraVez()">Jugar Otra Vez</button>
    </div>
    
</div>
</div>